* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    background: #eff8ff;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.buttons button {
    padding: 10px 20px;
    background: skyblue;
    border: none;
    border-radius: .4rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
    margin-top: 2rem;
    gap: 2rem;
}

.container .all {
    background: white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: .4rem;
    padding-bottom: 1rem;
}

.container .all img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    margin-bottom: 1rem;
}